.nav
{
    /* background-color: black; */
    background-color: #271C1C;
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 1.5%;
    margin: 2%;
    margin-top: 2%;
    border: 1px solid #707070;
}
.navItem
{
    list-style: none;
}
@media screen and (max-width:620px) {
    
    .navItem{
        font-size: 5px;
    }
}