.top
{
    /* background-color: rgb(50, 53, 88); */
    background-color: #283046;
    height: auto;
    margin: 2%;
    padding: 3%;
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* .container1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */
.item1
{
    
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: fit-content;
    padding-bottom: 15%;
}
.item2
{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: fit-content;
}

.iconStyle
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
@media screen and (max-width:620px) {
    
    .container{
        font-size: 15px;
    }
}